.stepper-progress {
  height: 2px;
  z-index: -1;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.stepper-progress-bar {
  left: 0;
  height: 100%;
  width: 0%;
  transition: all 500ms ease;
}

.stepper-item {
  transition: all 500ms ease;
}

.stepper-item-counter {
  height: 80px;
  width: 80px;
  display: grid;
  place-items: center;
  background-color: #fff;
}
  .icon-success {
    opacity: 0;
    transform: scale(0);
    width: 24px;
    transition: all 500ms ease;
  }

  .number {
    font-size: 22px;
    transition: all 500ms ease;
  }


.stepper-item-title {
  font-size: 14px;
  bottom: -24px;
}


  .stepper-item-counter {
    background-color: #c8ebc1;
    color: #fff;
    font-weight: 600;
  }
    .icon-success {
      opacity: 1;
      transform: scale(1);
    }

    .number {
      opacity: 0;
      transform: scale(0);
    }
  
  .stepper-item-title {
    color: #75cc65;
  }
